
<div class="info_film">
  <h2> Điện ảnh 24h </h2>
    <div class="container mt-3">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
          <!-- Indicators -->
          <ul class="carousel-indicators group_container ">
            <li data-target="#myCarousel" id="iteam" data-slide-to="0" class="active img_active">
              <img src="../../../assets/img/a3.jpg"/>
            </li>
            <li data-target="#myCarousel" id="iteam" data-slide-to="1" class="">
              <img src="../../../assets/img/a4.jpg"/>
            </li>
            <li data-target="#myCarousel" id="iteam" data-slide-to="2" class="">
              <img src="../../../assets/img/a5.jpg"/>
            </li>
          </ul>
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <!-- <img src="../../../assets/img/h9.jpg" alt="Los Angeles" width="1100" height="500"> -->
              <div class="iteam_one">
                  <p>" Captain America ( Steve Rogers ) là một siêu anh hùng hư cấu<br/> xuất hiện trong truyện tranh Mỹ được xuất bản bởi Marvel Comics . Được tạo bởi họa sĩ truyện tranh Joe Simon và Jack Kirby , nhân vật lần đầu tiên xuất hiện trong Captain America Comics # 1 ( bìa ngày tháng 3 năm 1941) từ Timely Comics ,<br/> tiền thân của Marvel Comics. Captain America được thiết kế như một siêu năng lực yêu nước "</p>
                  <a> Xem chi tiết  <i class="fa fa-hand-o-right"></i> </a>
              </div>
            </div>
            <div class="carousel-item">
                <div class="iteam_one">
                  <p> 
                    Deadpool là một bộ phim siêu anh hùng Mỹ năm 2016dựa trênnhân vật Marvel Comics cùng tên , được phân phối bởi 20th Century Fox . Đây là phần thứ tám của X-Men loạt phim và độc lập đầu tiên Deadpool phim. Được đạo diễn bởi Tim Miller từ một kịch bản của Rhett Reese và Paul Wernick , bộ phim có sự tham gia của Ryan Reynold trong vai Wade Wilson / Deadpool cùng với Morena Baccarin , Ed Skrein , TJ Miller , Gina Carano và Brianna Hildebrand. </p>
                    <a> Xem chi tiết <i class="fa fa-hand-o-right"></i></a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="iteam_one">
                    <p>Wanda là mộtbộ phim độc lập của Mỹ năm 1970được viết và đạo diễn bởi Barbara Loden , người cũng đóng vai chính. Lấy bối cảnh vùng than antraxit ở phía đông Pennsylvania , bộ phim tập trung vào một nữ nhân vật chính cô độc với những lựa chọn hạn chế cho một cuộc sống tốt hơn. Đó là một sự hiếm hoi trong quá trình làm phim vào những năm 1970, với cuộc khủng hoảng hiện sinh của một người phụ nữ, được viết và chỉ đạo bởi một người phụ nữ. </p>
                    <a> Xem chi tiết <i class="fa fa-hand-o-right"></i> </a>
                </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="arrow"><i class="icon_left fa fa-angle-left"></i></span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="arrow" ><i class="icon_right fa fa-angle-right"></i></span>
          </a>
        </div>
        </div>
</div>