<div class="movie bg-dark ">
  <h2>Review </h2>
  <div class="movie_content container">
    <div class="row">
      <div class="col-md-3">
        <div class="movie_iteam">
            <img src="../../../assets/img/a1.jpg"/>
            <div class="iteam_text_content">
                <h4>Iron man</h4>
                <p>Phim hay nhất mùa hè 2018, đầy kịch tính, hấp dẫn , lôi cuốn.</p>
              <div class="overlay">
                  <button mat-button>Xem trailer!</button>
                  <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/_MRQQOAAawg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
              </div>
                
            </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="movie_iteam iteam_one">
              <img src="../../../assets/img/a2.jpg"/>
              <div class="iteam_text_content">
                  <h4>Thor film</h4>
                  <p>Phim hay nhất mùa hè 2018, đầy kịch tính, hấp dẫn , lôi cuốn.</p>
                <div class="overlay">
                    <button mat-button>Xem trailer!</button>
                </div>
                  
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="movie_iteam">
              <img src="../../../assets/img/a3.jpg"/>
              <div class="iteam_text_content">
                  <h4>American Captain</h4>
                  <p>Phim hay nhất mùa hè 2018, đầy kịch tính, hấp dẫn , lôi cuốn.</p>
                <div class="overlay">
                    <button mat-button>Xem trailer!</button>
                </div>
                  
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="movie_iteam iteam_one">
              <img src="../../../assets/img/a5.jpg"/>
              <div class="iteam_text_content">
                  <h4>Wanda</h4>
                  <p>Phim hay nhất mùa hè 2018, đầy kịch tính, hấp dẫn , lôi cuốn.</p>
                <div class="overlay">
                    <button mat-button>Xem trailer!</button>
                </div>
                  
              </div>
          </div>
      </div>
    </div>
  </div>
</div>