
<div class="body_total">
        <app-header></app-header>
        <div class="body_phim">
            <app-list-phim></app-list-phim>
        </div>
        <div class="review">
            <app-review></app-review>
        </div>
        <div class="movie">
            <app-dienanh></app-dienanh>
        </div>
        <div class="news">
            <app-tintuc></app-tintuc>
        </div>
       <div class="contact">
            <app-side-bar></app-side-bar>
       </div>
        <app-footer></app-footer>
</div>
