
<div class="sidebar container mt-4 mb-4">
   <div class="sidebar_content">
      <div class="contact_content">
          <h2 class="text-black text-left">Contact</h2>
      <p class="text-black pb-3">Hope bring you happniess time<br> Always share your feeling with us</p>
     </div>
      <h2>Get In Touch</h2>
      <p> <i class=" icon_contact fa fa-home"></i>  01 Võ Văn Ngân, Quận Thủ Đức, Tp HCM</p>
      <p> <i class=" icon_contact fa fa-envelope-o"></i>  TuyetNhiit1008@gmail.com</p>
      <p> <i class="icon_contact fa fa-phone"></i> + 0853771565</p>
   </div>
    <div class="form_contact">
        <h2>Liên hệ</h2>
        <form action="/action_page.php">
          <div class="form-group">
            <label for="email">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="email">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="form-group">
              <label for="pwd">Message:</label>
              <textarea type="text" class="form-control" id="mess" placeholder="Enter Message" name="message"></textarea>
            </div>
          <button (click)="send()" type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
</div>
