<div class="group_iteam_two container">
        <!-- <app-iteam-phim></app-iteam-phim> -->
        <div class="row group_two">
                <div class="col-md-3" *ngFor="let phim of listPhim">
                   <app-iteam-phim-sap-chieu [iteamPhim]="phim"></app-iteam-phim-sap-chieu>
                </div>
            </div>
        
     </div>
<!-- <div class="owl-carousel owl-theme" >
    <div class="item" *ngFor="let phim of listPhim"><app-iteam-phim [phimIteam]= phim ></app-iteam-phim></div>
    
    
</div> -->
<!-- <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div> -->

<!-- <div class="row" >

            <div class="col-md-3" *ngFor ="let phim of listPhim" >
                    <app-iteam-phim  [phimIteam]= phim > </app-iteam-phim>
            </div>
            
 
</div>  -->
<!-- <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
        <div class="list">
            <div class="list_iteam" *ngFor ="let phim of listPhim" >
                    <app-iteam-phim  [phimIteam]= phim > </app-iteam-phim>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="list">
            <div class="list_iteam" *ngFor ="let phim of listPhim" >
                    <app-iteam-phim  [phimIteam]= phim > </app-iteam-phim>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="content">
  <img src="../../../assets/img/img8.jpg" alt="First slide">
  <div class="film_iteam carousel-caption d-none d-md-block">
      <div class="film_content">
          <h3>Film Avenger</h3>
          <p > <i class="fa fa-calendar calender"></i> Ngày khởi chiếu :10/10/2018</p>
          <div class="hover_content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, recusandae!</p>
           
            </div>
        </div>
        
  </div>
</div>
<div class="content">
  <img src="../../../assets/img/img8.jpg" alt="First slide">
<div class="film_iteam carousel-caption d-none d-md-block">
    <div class="film_content">
        <h3>Film Avenger</h3>
        <p > <i class="fa fa-calendar calender"></i> Ngày khởi chiếu :10/10/2018</p>
        <div class="hover_content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, recusandae!</p>
         
          </div>
      </div>
      
</div>
</div>
<div class="content">
  <img src="../../../assets/img/img8.jpg" alt="First slide">
  <div class="film_iteam carousel-caption d-none d-md-block">
      <div class="film_content">
          <h3>Film Avenger</h3>
          <p > <i class="fa fa-calendar calender"></i> Ngày khởi chiếu :10/10/2018</p>
          <div class="hover_content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, recusandae!</p>
           
            </div>
        </div>
        
  </div>
</div> -->
