<div class="nav_bar">
  <nav class="main_nav navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand logo" href="#">Movie Star</a>
        <ul class="navbar-nav menu">
          <li class="nav-item">
            <a class="nav-link text_menu active" routerLink="/user">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text_menu" routerLink="/phim" href="#">Phim</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text_menu" routerLink="/tintuc" href="#">Tin tức</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text_menu" routerLink="/lienhe"  href="#">Liên hệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text_menu" routerLink="/" href="#">Thoát</a>
          </li>
        </ul>
  </nav>
</div>