
<div class="footer_content text-white">

       <div class="txt_footer">
            <h4>Welcome to<span>Website </span>  Phim </h4>
       </div>
   
    <div class="row iteam_group">
        <div class="content_one col-md-4">
             <h4 class="text-center">Website</h4>
             <ul class="iteam_one">
                 <li>Trang chủ</li>
                 <li>Phim</li>
                 <li>Tin tức</li>
                 <li>Liên hệ</li>
                 <li>Đăng nhập</li>
                 <li>Đăng ký</li>
             </ul>
        </div>
        <div class="col-md-4">
            <h4>About us</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum eveniet debitis, reiciendis adipisci cumque aspernatur.</p>
        </div>
        
        <div class="col-md-4">
            <h4>Subscribe</h4>
            <p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
           <form method="post">
                <input class=" txt_email py-1" type="email" placeholder="Enter your email " /> 
                <button class="btn_email"><i class="email fa fa-envelope-o"></i></button>
            <div class="icon display-flex">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-google"></i>
                    <i class="fa fa-instagram"></i>
            </div>
           </form>
        </div>
        <div class="iteam_content col-md-12">
           <p> Phone: + 0853771565</p>
           <p> FaceBook: WebPhim@gmail.com</p>
           <p> Email: <span>TuyetNhiit1008@gmail.com </span></p>

        </div>
    </div>
    <!-- <div style="text-align:right; font-size:15px;"><a href='#' title="Back to top">&#710;</a></div> -->
   
    
</div>


