
<div class="news_film">
  <div class="row">
    <div class="col-md-6 image_news">
      <img src="../../../assets/img/h14.jpg"/>
    </div>
    <div class="col-md-6 text_news">
      <h1>Thông tin <br> <span>Tin tức mới nhất</span></h1>
      <p>CGV đang tổ chức ưu đãi vé cực sốc chỉ 45k ap dụng trên đủ mọi lứa tuổi<br> Tặng ngay combo bắp nước chỉ với 50K cho trọn bộ combo</p> 
     <!-- <div class="txt_content">
        <mat-tab-group class="over-flow:auto">
            <mat-tab label="Điện ảnh 24h"> 
            </mat-tab>
            <mat-tab label="Review"> Content 2 </mat-tab>
            <mat-tab label="Khuyến mãi"> Content 3 </mat-tab>
          </mat-tab-group>
     </div> -->
    </div>
  </div>
</div>

